---
layout: home-page
---

{% if page.url == '/' %}
  <section class="homepage-intro">
    <h1>Välkommen!</h1>
    <p>Hållbara Tips är precis vad det låter som &mdash; en samling korta, konkreta tips för hur personer som du och jag kan leva mer hållbart.</p>

    <div class="details">
        <h2>Varför <span class="tag">#HållbaraTips</span>?</h2>
        <p>
          <a href="https://www.dn.se/nyheter/klimat-och-miljo-oroar-mest/">Många är idag medvetna</a> om klimatförändringarna men lever ännu inte klimatsmart.
          Samtidigt är det svårt att ta första steget utan tydliga förslag på hur man kommer igång.
          Därför är vi idag {{ site.participants }} personer som driver liknande initiativ för att dela precis det &mdash; hållbara tips.
        </p>
    </div>

    <div class="links">
      <a href="{{ site.baseurl }}/how">Hur vi arbetar</a>
      <a href="{{ site.baseurl }}/why">Varför jag deltar</a>
    </div>
  </section>
{% endif %}

<ol class="post-card-box clearfix">
  {% for post in paginator.posts reversed %}
  <li>
    <div class="post-card">
      {% if post.social-img %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/featured/" | prepend: site.baseurl | append : post.social-img }} )"></a>
      {% else %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img }} )"></a>
      {% endif %}
      <div class="post-card-body">
        {% for tag in post.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
