{% if post.date %}

  {% assign m = post.date | date: "%-m" %}
  {{ post.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Jan
    {% when '2' %}Feb
    {% when '3' %}Mar
    {% when '4' %}Apr
    {% when '5' %}Maj
    {% when '6' %}Jun
    {% when '7' %}Jul
    {% when '8' %}Aug
    {% when '9' %}Sep
    {% when '10' %}Okt
    {% when '11' %}Nov
    {% when '12' %}Dec
  {% endcase %}
  {{ post.date | date: "%Y" }}

{% else if page.date %}

  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Jan
    {% when '2' %}Feb
    {% when '3' %}Mar
    {% when '4' %}Apr
    {% when '5' %}Maj
    {% when '6' %}Jun
    {% when '7' %}Jul
    {% when '8' %}Aug
    {% when '9' %}Sep
    {% when '10' %}Okt
    {% when '11' %}Nov
    {% when '12' %}Dec
  {% endcase %}
  {{ page.date | date: "%Y" }}

{% endif %}
