.main-footer {
  padding: 15px 0;
  background-color: #efefef;

  .footer-text {
    color: $dark-purple;
    font-size: 16px;
    p {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      max-width: 200px;
      align-items: center;
    }
  }
  .copyleft {
    font: 18px Arial, sans-serif;
    display: block;
    transform: rotate(180deg);
  }
}
